- provide(:title, 'Ads')
= render @ad
h2
  | Comments:
= sync partial: 'comment', collection: @ad.comments
= sync_new partial: 'comment', resource: Comment.new, scope: @ad
h2
  | Add a comment:
= render 'comments/comment_form'
