<h1>Your ad commented</h1>
    <p>
      Your ad (ad.id = <%= @ad.id %>) comment user <%= @ad.user.name %><br/>
    </p>
    <p>
      Go to watch all comments <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>