<h1>Admin::Types#new</h1>
<p>Find me in app/views/admin/types/new.html.erb</p>

<%= render 'form_type' %>


<!--
<%= simple_form_for [:admin, @type] do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %> -->

