development:
  adapter: postgresql
  encoding: utf8
  database: bibapp_development
  username: hading
  password: my_db_password
  host: localhost

test:
  adapter: postgresql
  encoding: utf8
  database: bibapp_test
  username: hading
  password: my_db_password
  host: localhost
