<h1>Admin::StaticPages#adminka</h1>
<p>Find me in app/views/admin/static_pages/adminka.html.erb</p>
<p>
  <%= link_to "Moderate a new ads (#{Ad.find_all_by_state("pending").count})", 
  		"http://google.com" %>
</p>
<p> <%= link_to "Update  types", "http://google.com" %> </p>
<p> <%= link_to "Upadate users", "http://google.com" %> </p>