<h1>Admin::StaticPages#adminka</h1>
<p>Find me in app/views/admin/static_pages/adminka.html.erb</p>
<p>
  <%= link_to "Moderate a new ads (#{Ad.find_all_by_state("pending").count})", 
  		"/admin/ads/moderate" %>
</p>
<p> <%= link_to "Update  types", admin_types_path %> </p>
<p> <%= link_to "Upadate users", admin_users_path %> </p>